<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <!-- Compatibility -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- Meta -->
        <meta name="application-name" content="cabs"/>
        <meta name="keywords" content="centro acadêmico, Unicamp, Engenharia Elétrica, estudantes"/>
        <meta name="author" content="Centro Acadêmico Bernardo Sayão"/>

        <!-- Page title -->
        <title>CABS{% block title %}{% endblock %}</title>

        <!-- Favicon -->
        {% if FAVICON %}
          <!-- <link rel="shortcut icon" href="{{ FAVICON }}" type="image/x&#45;icon"/> -->
          <!-- <link rel="icon" href="{{ FAVICON }}" type="image/x&#45;icon"/> -->
        {% endif %}

        <!-- Custom CSS file -->

        <!-- Feeds -->

        {% block head %}
        <meta name="description" content="Página do Centro Acadêmico Bernardo Sayão (CABS), dos estudantes de Engenharia Elétrica na Universidade Estadual de Campinas (Unicamp)"/>
        {% endblock %}

    </head>
    <body>
        <!-- Page content -->
        <nav><!-- Header -->
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer id="main-footer">
        </footer>
        {% block js %}
        {% endblock %}
    </body>
</html>
