<html>
  <body>
    <h1>Add subject</h1>
    <form method="POST" action="/">
        <input type="text" name="title">
        <input type="submit" value="Add">
    </form>

    <h1>Subjects</h1>
    {% for s in subjects %}
         <form method="POST" action="./update">
           <input type="hidden" value="{{s.title}}" name="oldtitle">
           <input type="text" value="{{s.title}}" name="newtitle">
           <input type="submit" value="Update">
          </form>
          <form method="POST" action="./delete">
            <input type="hidden" value="{{s.title}}" name="title">
            <input type="submit" value="Delete">
          </form>
    {% endfor %}
  </body>
</html>
