{% extends "base.html" %}

{% block title %} | Dashboard{% endblock %}

{% block content %}
<div class="pane" id="subjects-pane">
    <form method="POST" action="/add-subject>
        <input type="text" name="title">
        <input type="submit" value="Add">
    </form>
<!-- {% for s in subjects %} -->
<!--      <form method="POST" action=""> -->
<!--        <input type="hidden" value="{{s.title}}" name="oldtitle"> -->
<!--        <input type="text" value="{{s.title}}" name="newtitle"> -->
<!--        <input type="submit" value="Update"> -->
<!--       </form> -->
<!--       <form method="POST" action="./delete"> -->
<!--         <input type="hidden" value="{{s.title}}" name="title"> -->
<!--         <input type="submit" value="Delete"> -->
<!--       </form> -->
<!--     {% endfor %} -->
</div>

{% endblock content %}
